<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.withus.dao.mybatis.mapper.DonationMapper">

  <cache />
  
  <select id="getTotalDonations" resultType="Donation">
   select *
   from DONATION
  </select>

  
  <select id="getDonation" parameterType="int" resultType="Donation">
   select *
   from DONATION
   where donation_id=#{donation_id}
  </select>
  
 
  <insert id="registerDonation" useGeneratedKeys="true" keyProperty="donation_id" parameterType="Donation">
   insert into DONATION
   (donation_name, totalDonationPrice, close_date, like_count, donation_detail, donation_closeState, img)
   values
   (#{donation_name}, #{totalDonationPrice}, #{close_date}, #{like_count}, #{donation_detail}, #{donation_closeState}, #{img})
  </insert>
  
  
  <delete id="deleteDonation" parameterType="int">
   delete from DONATION
   where donation_id=#{donation_id}
  </delete>
  
  <!-- <update id="updateDonation" parameterType="Donation">
   UPDATE DONATION SET 
      donation_name = #{donation_name},
      totalDonationPrice = #{totalDonationPrice},
      close_date = #{close_date}
      donation_detail = #{donation_detail}
      donation_closeState = #{donation_closeState}
      
      WHERE donation_id = #{donation_id}      
  </update> -->
  
  <update id="updateDonation" parameterType="Donation">
   UPDATE DONATION SET 
      totalDonationPrice = #{totalDonationPrice}
      WHERE donation_id = #{donation_id}      
  </update>
  
  <select id="likeRanking" resultType="Donation">
   select *
   from DONATION
   ORDER BY LIKE_COUNT
  </select>
  
  <select id="closeRanking" resultType="Donation">
   select *
   from DONATION
   ORDER BY CLOSE_DATE
  </select>
    
  <select id="newProduct" resultType="Donation">
   select *
   from DONATION
   ORDER BY DONATION_ID DESC
  </select>
  
</mapper>