<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.withus.dao.mybatis.mapper.ItemMapper">

  <cache />
  
   <insert id="insertItem">
      INSERT INTO ITEM(ITEM_NAME, ITEM_STATE, ITEM_DETAIL, ITEM_DATE, LIKE_COUNT, USER_ID, ITEMCATEGORY_ID,  IMG)
      VALUES(#{item_name},#{item_state}, #{item_detail} , #{item_date}, #{like_count}, #{user_id}, #{itemCategory_id}, #{img}) 
   </insert>

    <select id="itemList" resultType="Item">
       SELECT *FROM ITEM 
    </select>

	<select id="itemCategoryList" resultType="Item" parameterType="int">
       SELECT *
       FROM ITEM 
       WHERE ITEMCATEGORY_ID = #{itemcategory_id}
    </select>
    
    <select id="getItem" resultType="Item" parameterType="Integer">
       SELECT  *
       FROM ITEM
       WHERE ITEM_ID = #{item_id}
     </select>
     
     <select id="likeRanking" resultType="Item">
       SELECT *FROM ITEM 
       ORDER BY LIKE_COUNT DESC
    </select>
    
    <select id="newProduct" resultType="Item">
       SELECT *FROM ITEM 
       ORDER BY ITEM_DATE DESC
    </select>
    
    <select id="myItemList" resultType="Item" parameterType="String">
   	   SELECT  *
  	   FROM ITEM
       WHERE USER_ID = #{user_id}
    </select>
    
    <update id="itemFinish">
   	 UPDATE ITEM
   	 SET ITEM_STATE = 1
   	 WHERE ITEM_ID = #{item_id}
  </update>
  
</mapper>