<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.withus.dao.mybatis.mapper.LikeMapper">

  <cache />
  
  <select id="rankingItem" resultType="Item">
   select item_id, COUNT(item_id)
   from LIKE_ITEM
   group by item_id 
   order by COUNT(item_id) DESC
  </select>
  
   <select id="rankingGroupItem" resultType="GroupItem">
   select groupitem_id, COUNT(groupitem_id)
   from LIKE_ITEM
   group by groupitem_id 
   order by COUNT(groupitem_id) DESC
  </select>
  
  <select id="getItemLikes" parameterType="String" resultType="Item">
   select *
   from LIKE_ITEM
   where item_id is not null and user_id=#{user_id}
  </select>
  
  <select id="getGroupItemLikes" parameterType="String" resultType="GroupItem">
   select *
   from LIKE_ITEM
   where groupItem_id is not null and user_id=#{user_id}
  </select>
  
  <select id="getGroupItemLike" parameterType="Like" resultType="Like">
   select *
   from LIKE_ITEM
   where GROUPITEM_ID = #{groupItem_id} and USER_ID = #{user_id}
  </select>
  
  <select id="getItemLike" parameterType="Like" resultType="Like">
   select *
   from LIKE_ITEM
   where ITEM_ID = #{item_id} and USER_ID = #{user_id}
  </select>
  
  <insert id="insertItemLike" useGeneratedKeys="false" keyProperty="like_id" parameterType="Like">
   <selectKey keyProperty="like_id" resultType="int" order="BEFORE">
          SELECT LIKE_ITEM_SEQ.NEXTVAL FROM DUAL
      </selectKey>
   insert into LIKE_ITEM(like_id, user_id, item_id, like_date)
   values(#{like_id}, #{user_id}, #{item_id}, #{like_date})
  </insert>

   <insert id="insertGroupItemLike" useGeneratedKeys="false" keyProperty="like_id" parameterType="Like">
   <selectKey keyProperty="like_id" resultType="int" order="BEFORE">
          SELECT LIKE_ITEM_SEQ.NEXTVAL FROM DUAL
      </selectKey>
   insert into LIKE_ITEM(like_id, user_id, groupItem_id, like_date)
   values(#{like_id}, #{user_id}, #{groupItem_id}, #{like_date})
  </insert>
  
  <update id="updateGroupItemLike" parameterType="int">
   UPDATE GROUPITEM SET 
      like_count = like_count + 1
      WHERE groupitem_id = #{groupitem_id}      
  </update>
  
  <update id="minusGroupItemLike" parameterType="int">
   	  UPDATE GROUPITEM SET 
      like_count = like_count - 1
      WHERE groupitem_id = #{groupitem_id}      
  </update>
  
  <update id="updateItemLike" parameterType="int">
   	  UPDATE ITEM SET 
      like_count = like_count + 1
      WHERE item_id = #{item_id}      
  </update>
  
  <update id="minusItemLike" parameterType="int">
   UPDATE ITEM SET 
      like_count = like_count - 1
      WHERE item_id = #{item_id}      
  </update>
  
  <delete id="removeItemLike" parameterType="Like">
   delete from LIKE_ITEM
   where item_id=#{item_id} and user_id=#{user_id}
  </delete>
  
  <delete id="removeGroupItemLike" parameterType="Like">
   delete from LIKE_ITEM
   where groupItem_id=#{groupItem_id} and user_id=#{user_id}
  </delete>

</mapper>