<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.withus.dao.mybatis.mapper.MessageMapper">
  <cache />


<select id="getMessageList" resultType="Message">
    SELECT *
    FROM MESSAGE
    WHERE RECEIVER_ID = #{receiver_id}
  </select>
  
  <select id="getSendedMessageList" resultType="Message">
    SELECT *
    FROM MESSAGE
    WHERE SENDER_ID = #{sender_id}
  </select>
  
  <select id="getMessage" resultType="Message" parameterType="Integer">
    SELECT  *
    FROM MESSAGE
    WHERE MESSAGE_ID = #{message_id}
  </select>
  
  <insert id="insertMessage">
    INSERT INTO MESSAGE (TITLE, CONTENT, SENDER_ID, RECEIVER_ID, READ_CHK)
    VALUES(#{title}, #{content}, #{sender_id}, #{receiver_id}, #{read_chk})
  </insert>
  
  <update id="readCheck">
    UPDATE MESSAGE
    SET READ_CHK = 1
    WHERE MESSAGE_ID = #{message_id}
  </update>
  
  <select id="getUnrededList" resultType="Message">
    SELECT *
    FROM MESSAGE
    WHERE RECEIVER_ID = #{receiver_id} AND READ_CHK = 0
  </select>
 
</mapper>