<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.withus.dao.mybatis.mapper.SearchMapper">
  <cache />

  <select id="getSearchItemList" resultType="Item">
    SELECT *
    FROM ITEM
    WHERE  item_name LIKE '%' ||  #{item_name} || '%'
  </select>

  <select id="getSearchGroupItemList" resultType="GroupItem">
    SELECT *
    FROM GROUPITEM
    WHERE groupItem_name LIKE '%' ||  #{groupItem_name} || '%'
  </select>
  
  <select id="getSearchDonationList" resultType="Donation">
    SELECT *
    FROM DONATION
    WHERE donation_name LIKE '%' ||  #{donation_name} || '%'
  </select>
  
</mapper>