@font-face {
  font-family: 'MBC1961GulimM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.DonationDetailmain {
  margin: 0 auto;
  margin-top: 55px;
  display: flex;
  height: 100%;
}
  
/*기부 이미지------------------------------------*/
.donation_img {
  margin-left: 250px;
  width: 350px;
  height: 420px;
  box-shadow: 3px 3px 3px 3px lightgray;
  border-radius: 10px;
}
  
.donation_img img {
  width: 350px;
  height: 420px;
}
  
/*기부 정보 박스------------------------------------*/
.donationInfo{
  width: 500px;
  margin-left: 60px;
}

/*기부 진행 상태--------------*/
.donation_closeState{
  margin-top: 10px;
  font-family: 'ChosunGu';
  text-align: left;
  color: gray;
  font-size: 25px;
  margin-bottom: 10px;
}
/*기부 이름*/
.donation_name {
  font-family: 'MBC1961GulimM';
  margin-top: 20px;
  text-align: left;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

/*총 기부액*/
.donation_content01{
  font-family: 'ChosunGu';
  margin-top: 20px;
  text-align: left;
  color: gray;
  font-size: 25px;
}

.donation_total_box{
  font-family: 'MBC1961GulimM';
  display: flex;
  margin-top: 20px;
  font-size: 50px;
  color: rgb(255, 102, 130);
}

/*기부 설명*/
.donation_detail{
  font-family: 'ChosunGu';
  text-align: left;
  margin-top: 20px;
  font-size: 25px;
  height: 130px;
}

.donation_btn_box{
  display: flex;
  height: 50px;
}

.btn_donation{
  font-family: 'ChosunGu';
  background-color: rgb(255, 102, 130);
  color: white;
  font-size: 25px;
  border-radius: 5px;
  width: 200px;
  border: none;
}

/*기부하기 버튼 모달창---------------------------------------*/
.donation_order_modal{
  font-family: 'MBC1961GulimM';
  font-size: 35px;
  margin-top: 10px;
}

/*기부 코멘트------------------------*/
.comment_header{
  margin-top: 30px;
  font-family: 'MBC1961GulimM';
  font-size: 50px;
  text-align: left;

}
.comments_box{
  width: 901px;
  margin-left: 250px;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}

.donation_comment_content{
  border: 1px solid lightgray;
  width: 900px;
  border-radius: 10px;
  margin-top: 15px;
  text-align: left;
  box-shadow: 3px 3px 3px 3px lightgray;
}

.donation_comment_id{
  font-family: 'ChosunGu';
  font-size: 20px;
  margin-left: 15px;
  margin-top: 10px;
  color: black;
}

.donation_comment{
  font-family: 'ChosunGu';
  font-size: 22px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
  

  @media (max-width: 1440px) {
    .main {
      flex-direction: column;
    }
  
    .product {
      width: 100%;
      margin: 0;
      padding: 20px;
      padding-bottom: 0;
    }
  
    .sum .total_price {
      font-size: 24px;
    }
  
    .sum .sum_price {
      margin-right: 24px;
    }
  
    .btn {
      justify-content: center;
    }
    .btn .btn_buy {
      width: 70%;
    }
  
    .btn .btn_cart {
      width: 30%;
    }
  
    .line {
      width: 80%;
    }
  
    .product_info .price {
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 380px) {
    .product_info .seller_store,
    .btn .btn_cart,
    .btn .btn_buy {
      font-size: 14px;
    }
  
    .product_info .product_name,
    .product_info .price,
    .sum .total_price {
      font-size: 20px;
    }
  
    .sum {
      display: block;
    }
  }
  
  .comments{
    flex-direction: column;
  }
    