@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*헤더*/
#donation_header{
    font-family: 'MBC1961GulimM';
    text-align: center;
    font-size: 45px;
    padding-top: 30px;
}

/*-----------------------------------------------------
기부 메인페이지*/
#donation_main{
    display: flex;
    height: 100%;
}

/*-----------------------------------------------------
기부 메인페이지 헤더*/
#donation_view_header{
    width: 1225px;
    display: flex;
}

#donation_list{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.donation_list_content{
    font-family: 'ChosunGu';
    margin: auto 3px;
    font-size: 17px;
    background-color: white;
    border: none;
    font-size: 20px;
    color: gray;
}

/*-----------------------------------------------------
공동구매 상품 리스트*/
#donation_view_main{
    height: 100%;
    padding: 20px 0px;
    display: flex;
    height: 430px;
}

.donation{
    margin-left: 50px;
    width: 249px;
    height: 100%;
    box-shadow: 3px 3px 3px 3px lightgray;
    border-radius: 10px;
}
/*기부 이미지*/
.donation_image{
    width: 249px;
    height: 320px;
    border-radius: 10px;
}

.donation_info{
    width: 249px;
    height: 94.2px;
    margin: 0;
    padding: 14px 10px 0 0;
}

/*기부 제목*/
.donation_name{
    font-family: 'MBC1961GulimM';
    width: 239px;
    height: 23.2px;
    color: black;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
}

/*총 기부 금액*/
.donation-price-box{
    display: flex;
    margin-top: 5px;
}

.donation-price-box-content{
    font-family: 'ChosunGu';
    font-size: 17px;
    margin-left: 15px;
    margin-top: 2px;
}
.donation-view-totalPrice{
    font-family: 'MBC1961GulimM';
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    color: rgb(255, 102, 130);
}

/*기부 진행 상태*/
.donation-view-state{
    font-family: 'ChosunGu';
    font-size: 20px;
    margin-top: 5px;
    margin-left: 160px;
}

.donation_state{
    width: 70px;
    height: 25px;
    margin: 5px 0px auto auto;
    color: black;
    font-size: 14px;
    text-align: right;
}