@font-face {
  font-family: 'MBC1961GulimM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.groupItemDetailmain {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  height: 100%;
}

/*그룹아이템 이미지------------------------------------*/
.product_img {
  margin-top: 30px;
  margin-left: 130px;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px lightgray;
}
  
.product_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product_img imgs {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}


/*그룹아이템 정보------------------------------------*/
.groupItemInfo{
  width: 620px;
}

/*상품이름*/
.groupItemInfo .product_name {
  font-family: 'MBC1961GulimM';
  text-align: left;
  padding-left: 50px;
  margin-top: 20px;
  font-size: 40px;
  line-height: 45px;
  color: #000000;
}

/*seller-store*/
.seller_store{
  font-family: 'ChosunGu';
  margin-top: 20px;
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
  color: gray;
}
  
/*상품가격*/
.groupItemInfo .price {
  font-family: 'MBC1961GulimM';
  padding-left: 50px;
  text-align: left;
  margin-top: 20px;
  font-size: 36px;
  line-height: 45px;
  color: #000000;
}
  
.product_info .unit {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

/*상품 문구*/
.groupItemtext{
  font-family: 'ChosunGu';
  margin-top: 20px;
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
}  

/*혼자 주문하기*/
.aloneBuy{
  border: 1px solid rgb(255, 102, 130);
  width: 200px;
  height: 30px;
  margin-top: 20px;
  padding-top: 10px;
  margin-left: 50px;
  text-align: center;
  font-size: 18px;
  color: rgb(255, 102, 130);
  border-radius: 5px;
  font-family: 'ChosunGu';
}

/*상품 개수 설정 버튼*/
.amount {
  font-family: 'MBC1961GulimM';
  margin-top: 20px;
  margin-left: 50px;
  position: relative;
  width: 150px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 30px;
}

.amount .minus {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  cursor: pointer;
}
  
.amount .count {
  position: absolute;
  width: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #c4c4c4;
  border-top:none;
  border-bottom:none;
}
  
.amount .count span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.amount .plus {
  position: absolute;
  width: 20px;
  height: 40px;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
}
  
/*상품 총 금액, 수량---------------------------------------*/
.sum {
  font-family: 'ChosunGu';
  display: flex;
  margin-left: 50px;
}

/*상품 총 수량---------------------------------------------*/
.sum .total {
  padding-top: 5px;
  font-size: 23px;
  color: black;
}

.sum .total_count {
  font-family: 'MBC1961GulimM';
  padding-top: 8px;
  margin-left: 20px;
  font-size: 25px;
  line-height: 23px;
  color: rgb(255, 102, 130);
  margin-right: 40px;
}

/*상품 총 금액---------------------------------------------*/
.sum .total_price_title {
  padding-top: 5px;
  font-size: 23px;
  color: black;
}

.sum .total_price {
  font-family: 'MBC1961GulimM';
  padding-top: 8px;
  margin-left: 20px;
  font-size: 25px;
  line-height: 23px;
  color: rgb(255, 102, 130);
}
  
.sum .total_unit {
  margin-left: 5px;
  padding-top: 5px;
  font-size: 23px;
  color: black;
}

/*버튼-------------------------------------------------*/
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*주문하기 버튼-------------------------------------------------*/
.btn .btn_buy {
  font-family: 'ChosunGu';
  margin-top: 20px;
  margin-left: 50px;
  width: 360px;
  height: 60px;
  border-radius: 5px;
  background: rgb(255, 102, 130);
  border: none;
  cursor: pointer;
  font-size: 25px;
  line-height: 22px;
  color: #ffffff;
}
 
/*장바구니 버튼-------------------------------------------------*/ 
.btn .btn_cart {
  font-family: 'ChosunGu';
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background: lightgray;
  border: none;
  cursor: pointer;
  font-size: 25px;
  line-height: 22px;
  color: black;
}

/*찜버튼---------------------------------------*/
.btn_like {
  margin-left: 20px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #ffffff;
}

.btn_like_icon{
  width: 45px;
  height: 45px;
}

/*공동구매 박스-------------------------------------------------------*/
.groupItemInfo2{
  margin: 0 auto;
  margin-top: 20px;
  width: 1050px;
}

.desc {
  margin-top: 140px;
}
 
@media (max-width: 1440px) {
  .main {
    flex-direction: column;
  }

  .product {
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
  }

  .sum .total_price {
    font-size: 24px;
  }

  .sum .sum_price {
    margin-right: 24px;
  }

  .btn {
    justify-content: center;
  }
  .btn .btn_buy {
    width: 70%;
  }

  .btn .btn_cart {
    width: 30%;
  }

  .line {
    width: 80%;
  }

  .product_info .price {
    margin-bottom: 50px;
  }
}

@media (max-width: 380px) {
  .product_info .seller_store,
  .btn .btn_cart,
  .btn .btn_buy {
    font-size: 14px;
  }

  .product_info .product_name,
  .product_info .price,
  .sum .total_price {
    font-size: 20px;
  }

  .sum {
    display: block;
  }
}

  