@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*헤더*/
#Item_header{
    font-family: 'MBC1961GulimM';
    text-align: center;
    font-size: 45px;
    padding-top: 30px;
}

/*-----------------------------------------------------
나눔 물품 구매 메인페이지*/
#Item_main{
    display: flex;
    height: 100%;
}

/*-----------------------------------------------------
나눔 물품 구매 메인페이지 헤더*/
#Item_view_header{
    margin-left: 20px;
    width: 900px;
    display: flex;
}

/*나눔 등록 버튼*/
.item_register{
    margin-left: 8px;
}

.item_register_btn{
    font-family: 'ChosunGu';
    color: rgb(255, 102, 130);
    background-color: white;
    font-size: 20px;
    border: 1px solid rgb(255, 102, 130);
    border-radius: 5px;
    width: 130px;
}

/*나눔 상품 출력 방법 선택*/
#Item_list{
    display: flex;
    margin-left: auto;
    margin-right: 25px;
}

.Item_list_content{
    margin: auto 3px;
    font-size: 17px;
    background-color: white;
    border: none;
    color: black;
}

/*나눔 카테고리----------------*/
#item_category{
    width: 300px;
    margin-left: 70px;
}

#item_cate{
    font-family: 'ChosunGu';
    width: 180px;
    font-size: 35px;
}

.itemCate_content{
    font-family: 'ChosunGu';
    width: 160px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 28px;
    text-align: left;
}

/*-----------------------------------------------------
공동구매 상품 리스트*/
#Item_view_main{
    margin-left: 5px;
    height: 100%;
    width: 900px;
    padding: 20px 0px;
    display: flex;
    /*화면 넘어가면 줄바꿈*/
    flex-direction: row;
    flex-wrap: wrap;
}

/*나눔 이미지*/
#previewimg{
    width: 200px;
    height: 270px;
    border-radius: 10px;
    border: none;
}

.item_name{
    font-family: 'ChosunGu';
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.groupItem_name{
    width: 239px;
    height: 23.2px;
    color: #333333;
    font-size: 16px;
    margin: 0 0 8px;
}

.groupItem_price{
    width: 239px;
    height: 24px;
    font-size: 16px;
    font-weight: 800;
}

.groupItem_likeCount{
    width: 239px;
    height: 25px;
    padding: 5px 0 0;
    color: black;
    font-size: 14px;
}

.groupItem_state{
    width: 110px;
    height: 25px;
    margin: 5px 0px auto auto;
    color: black;
    font-size: 14px;
    text-align: right;
}