@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*헤더*/
#header{
    height: 100px;
}

#header_top{
    height: 36px;
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
/*구분선*/
.main_header_line{
    border: 0.5px solid lightgray;
    width: 1200px;
    margin-top: 10px;
    margin: 0 auto;
}

/*헤더 회원가입, 로그인, 고객센터 박스*/
.headerTop_content{
    height: 35px;
    width: 200px;
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: row;
}

/*회원가입 버튼*/
.register_btn{
    margin-top: 38px;
    margin-left: 5px;
    width: 120px;
    height: 50px;
    font-family: 'ChosunGu';
    border-radius: 10px;
    background-color: rgb(255, 102, 130);
}

/*로그인 버튼*/
.login_btn{
    margin-top: 38px;
    margin-left: 10px;
    width: 120px;
    height: 50px;
    font-family: 'ChosunGu';
    border-radius: 10px;
    background-color: white;
    color: black;
}

#header_wrap{
    display: flex;
    height: 63px;
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.header_content1{
    margin: auto 0;
}

/*로고*/
.loco{
    margin: 0 0 0 5px;
    width: 66.25px;
    height: 23.94px;
    font-size: 40px;
    cursor: pointer;
    text-decoration-line: none;
    color:#ff9eb1;
    font-family: 'MBC1961GulimM';
    -webkit-text-stroke: 1px black; /*글씨 테두리*/
}

/*검색 박스*/
.header_content2{
    display: flex;
    margin: auto auto; 
    margin-top: 20px;
    width: 550px;
    height: 60px;
    border: 1px solid lightgray;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0 0 0 14px;
    box-shadow: 5px 5px 5px 5px gray;
}

/*검색 입력 박스*/
.search_box{
    border: none;
    outline: none;
    margin: auto 0;
    font-size: 16px;
    width: 300px;
    height: 18.4px;
    font-family: 'ChosunGu';
}

/*검색 버튼*/
.search_btn{
    margin-top: 5px; 
    margin-left: 65px; 
    width: 150px;
    height: 50px;
    background-color: rgb(255, 102, 130);
    border-radius: 10px;
    font-family: 'ChosunGu';
}

.header_content3{
    margin: auto 0px auto auto;
    height: 36px;
}

/*주소, 하트 아이콘*/
.icon{
    margin: 0 20px 0 0;
    width: 36px;
    height: 36px;
}

/*장바구니 아이콘*/
.basket{
    margin: auto 0 auto auto;
}

/*----------------------------------------------------------------
카테고리*/
#category{
    height: 56px;
    width: 700px;
    margin: 0 auto; /*중앙 정렬*/
    display: flex;
    flex-direction: row;
}

.category_content2{
    display: flex;
    margin: auto;
}

/*카테고리 종류*/
.category_content2_sub{
    margin-left: 10px;
    width: 180px;
    text-align: right;
    font-size: 20px;
    font-family: 'ChosunGu';
    text-decoration: none;
    color: gray;
}

.sub{
    width: 100px;
    text-align: center;
    margin-left: 30px;
}

.sub1{
    margin-left: 40px;
    text-align: left;
}

.sub2{
    margin-left: 40px;
}

.sub3{
    width: 100px;
}
/*메인화면-------------------------------------------------------------*/
#main{
    border: 1px solid white;
    height: 420px;
    width: 1250px;
    margin: 0 auto; /*중앙 정렬*/
    margin-top: 40px;
    flex-direction: row;
}
/*왼쪽 메인-----------------------------------------------*/
#main_1{
    height: 430px;
}
/*문구1-----------------------------------------------*/
.main1_content1{
    margin-top: 50px;
    font-size: 70px;
    font-family: 'MBC1961GulimM';
}
/*문구2-----------------------------------------------*/
.main1_content2{
    font-size: 100px;
    color:#ff9eb1;
    font-family: 'MBC1961GulimM';
    -webkit-text-stroke: 3px black; /*글씨 테두리*/
}

.main1_content3{
    margin-top: 40px;
    font-family: 'ChosunGu';
    font-size: 25px;
}

/*오른쪽 메인 이미지-----------------------------------------------*/
.mainpage_bg{
    margin-top: 40px;
    height: 150px;
    width: 150px;
}

.main-line{
    border: 1px solid black;
}
