@font-face {
  font-family: 'MBC1961GulimM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.filter {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: flex-end;
}

.filter > p:not(:last-child)::after {
  content: "|";
  padding: 10px;
}

.filter p {
  cursor: pointer;
}

.flex_wrap {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 70px 0px;
  margin: 0 auto;
  margin-top: 35px;
}

@media (max-width: 1440px) {
  .flex_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .flex_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 360px) {
  .filter p {
    font-size: 12px;
  }
}

/*아이템 박스---------------------*/
.product {
  margin-left: 15px;
  flex: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.product1 {
  margin-left: 15px;
  margin-top: 0px;
  flex: flex;
  float:left;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

/*아이템 이미지---------------------*/  
.product_image {
  border-radius: 10px;
  width: 280px;
  height: 300px;
  margin-bottom: 16px;
}
  
.product_image img {
  width: 100%;
  height: 100%;
}

/*아이템 이름--------------*/  
.product_name {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  color: #000000;
  font-family: 'ChosunGu';
}


/*할인된 아이템 가격--------------*/  
.product_price{
  font-family: 'MBC1961GulimM';
  display: flex;
}

/*할인률---------------------*/
.product_discount{
  margin-left: 10px;
  color: red;
  font-size: 21px;
  font-family: 'MBC1961GulimM';
}

.price {
  padding-left: 10px;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.unit {
  text-align: left;
  font-size: 20px;
  color: #000000;
}

/*원래 아이템 가격----------------*/
.origin_price {
  margin-top: 5px;
  margin-left: 10px;
  text-align: left;
  font-size: 20px;
  color: gray;
  text-decoration: line-through;
  font-family: 'ChosunGu';
}


.origin_unit {
  text-align: left;
  font-size: 20px;
  color: gray;
  font-family: 'ChosunGu';
}
  
@media (max-width: 968px) {
  .product_image {
    width: 220px;
    height: 220px;
  }
  .product_name span {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .product_image {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 360px) {
  .product_image {
    width: 200px;
    height: 200px;
  }

  .store span {
    font-size: 12px;
    line-height: 22px;
    color: #767676;
  }

  .product_name span {
    font-size: 12px;
  }
}

/*총 기부 금액--------------------------*/
.donation_totalprice{
  border: 1px solid black;
  display: flex;
}