@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#register-page{
    margin-top: 70px;
}
#register_header{
    font-family: 'MBC1961GulimM';
    text-align: center;
    font-size: 45px;
}

#register_line{
    border: 1px solid black;
    width: 700px;
    margin: 0 auto;
}

#register_form{
    width: 650px;
    margin: 20px auto;
}

.register_content{
    height: 60px;
    display: flex;
    margin-top: 15px;
}

.register_content1{
    width: 150px;
}

/*회원가입 입력란 제목*/
.register_name{
    margin: 22px auto;
    font-size: 20px;
    font-family: 'ChosunGu';
}

.register_content2{
    width: 350px;
    display: flex;
    margin: auto 0px;
}

/*입력란*/
.register_inputBox{
    display: flex;
    margin: 5px 20px auto; 
    width: 300px;
    height: 48px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0 0 0 14px;
}

.register_input{
    font-family: 'ChosunGu';
    border: none;
    outline: none;
    margin: auto 0;
    font-size: 16px;
    width: 300px;
    height: 18.4px;
}

.register_yearInputBox{
    display: flex;
    margin: 5px 10px 5px 20px; 
    width: 80px;
    height: 48px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0 0 0 14px;
}

.register_yearInput{
    border: none;
    outline: none;
    margin: auto 0;
    font-size: 16px;
    width: 70px;
    height: 18.4px;
}

.register_monthInputBox{
    display: flex;
    margin: 5px 10px auto; 
    width: 70px;
    height: 48px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0 0 0 14px;
}

.register_monthInput{
    border: none;
    outline: none;
    margin: auto 0;
    font-size: 16px;
    width: 60px;
    height: 18.4px;
}

.register_dateInputBox{
    display: flex;
    margin: 5px 10px auto; 
    width: 70px;
    height: 48px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0 0 0 14px;
}

.register_dateInput{
    border: none;
    outline: none;
    margin: auto 0;
    font-size: 16px;
    width: 60px;
    height: 18.4px;
}

.register_check_btn{
    margin: 5px 5px auto; 
    width: 120px;
    height: 48px;
    border: 1px solid #ee5f41;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    color: #ee5f41;
    font-size: 15px;
}

#register_bottom{
    height: 60px;
    margin-top: 50px;
}

/*회원가입 버튼*/
#register_btn{
    border: none;
    margin: 4px 60px;
    height: 50px;
    width: 500px;
    font-size: 25px;
    background-color: rgb(255, 102, 130);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: 'ChosunGu';;
}

.radio_btn{
    margin: auto 20px;
    height:20px;
    width: 20px;
}

/*유효성 검사 문구*/
.inputCheck{
    font-family: 'ChosunGu';
    width: 400px;
    margin-left: 170px;
    margin-top: 5px;
    text-align: left;
    font-size: 13.5px;
    color: red;
}